.listingCart {
    border-radius: 24px;
    overflow: hidden;
    background-color: white;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.15s;
    .image {
        overflow: hidden;
        position: relative;
        width: 232px;
        margin: 12px;
        border-radius: 12px;
        z-index: 2;

        .image_slider {
            z-index: 0;
            .swiper-slide {
                position: relative;

                &::after {
                    content: "";
                    background: linear-gradient(180deg, rgba(33, 34, 35, 0) 0%, rgba(33, 34, 35, 0.66) 100%);
                    height: 36px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 0;
                }
            }
        }
        .swiper-pagination {
            z-index: 2;
            .swiper-pagination-bullet {
                background-color: white;
                width: 6px;
                height: 6px;
            }
            .swiper-pagination-bullet-active {
                width: 8px;
                height: 8px;
            }
        }
        > * {
            position: relative;
            z-index: 3;
        }
        img {
            object-fit: cover;
            aspect-ratio: 1/1;
            width: 100%;
        }
        .saleOff {
            position: absolute;
            left: 12px;
            top: 12px;
            background-color: #f97316;
            color: white;
            font-size: 12px;
            padding: 2px 12px;
            border-radius: 99px;
            z-index: 1;
        }

        .arrow {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            transition: 0.15s;
            background-color: white;
            opacity: 0;
        }
        .next_arrow {
            right: 8px;
        }
        .prev_arrow {
            left: 8px;
        }
    }
    .save_btn {
        position: absolute;
        right: 12px;
        top: 12px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--gray-100);
        cursor: pointer;
        z-index: 2;
        &:hover {
            background-color: var(--gray-200);
        }
        svg {
            path {
                transition: .15s;
            }
        }
        &.active {
            svg {
                path {
                    fill: red;
                    stroke: red;
                }
            }
        }
    }
    .details {
        padding: 16px;
        flex-grow: 1;
        .title {
            margin-bottom: 12px;
            > * {
                display: inline-block;
            }
            span {
                font-size: 12px;
                display: inline-flex;
                align-items: center;
                font-weight: 500;
                gap: 4px;
                border-radius: 99px;
                padding: 4px 10px;
                background-color: #dcfce7;
                color: #3c8257;
            }
        }
        h3 {
            font-size: var(--text-lg);
            font-weight: 500;
            margin-bottom: 6px;
        }
        .location {
            color: var(--gray-500);
            display: inline-flex;
            align-items: center;
            gap: 10px;
        }
        .line {
            display: block;
            margin: 16px 0;
            width: 100%;
            height: 1px;
            max-width: 56px;
            background-color: var(--gray-100);
        }
        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 12px;

            .price {
                font-size: 16px;
                font-weight: 600;
                border: 1px solid #14b8a6;
                border-radius: 4px;
                color: #14b8a6;
                padding: 8px 12px;
                line-height: 1;
            }
            .rating {
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 2px;
            }
            span {
                color: var(--gray-500);
                font-weight: 400;
            }
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 12px;
            span {
                font-size: 12px;
                display: flex;
                align-items: center;
                font-weight: 500;
                gap: 4px;
                border-radius: 99px;
                padding: 4px 10px;
            }
            .blue {
                background-color: #dbeafe;
                color: #3c5bbb;
            }
            .yellow {
                background-color: #fef9c3;
                color: #915e20;
            }
        }
        .features {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            > div {
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 8px;
                opacity: 0.7;
            }
        }
    }
    .link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    &:hover {
        --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
        --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
        box-shadow:
            0 0 rgba(0, 0, 0, 0),
            0 0 rgba(0, 0, 0, 0),
            var(--tw-shadow);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)),
            var(--tw-shadow);
        .image {
            .arrow {
                opacity: 1;
            }
        }
    }
}
@media (max-width: 576px) {
    .listingCart {
        flex-direction: column;
        .image {
            width: calc(100% - 12px * 2);
        }
        .details {
            width: 100%;
        }
    }
}
