.sec_title {
    margin-bottom: 56px;
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    p {
        color: var(--gray-500);
    }
    h1 {
        font-size: var(--text-4xl);
    }

}
@media (max-width: map.get($grid-breakpoints, "md")) {
    .sec_title {
        .flex {
            flex-wrap: wrap;
            gap: 12px;
        }
    }
}
