.hero {
    padding: 64px 0;
    position: relative;
    z-index: 2;

    .content {
        padding-right: 56px;
        padding-top: 30px;
        h1 {
            font-size: var(--text-7xl);
            font-weight: 500;
            line-height: 1.14;
        }
        p {
            font-size: 18px;
            color: var(--gray-500);
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .features_text {
            margin-top: 40px;
            > div {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 24px;
                font-weight: 400;
                color: var(--gray-500);
            }
        }
    }
    .col {
        width: 50%;
    }
    .tabs_wrapper {
        margin-top: -165px;
        max-width: 72rem;
        .tabs {
            display: flex;
            align-items: center;
            margin-left: 3rem;
            margin-bottom: 32px;
            // span {
            //     font-size: 1rem;
            //     line-height: 1.5rem;
            // }
            li {
                cursor: pointer;
                font-weight: 500;
                color: var(--gray-400);
                &::before {
                    content: "";
                    background-color: var(--gray-800);
                    width: 0.625rem;
                    height: 0.625rem;
                    display: inline-block;
                    border-radius: 999px;
                    opacity: 0;
                    margin-right: 0.5rem;
                }
                &.active {
                    color: var(--gray-800);
                    &::before {
                        opacity: 1;
                    }
                }
                &:not(:first-child) {
                    margin-left: 30px;
                }
            }
        }
    }
    .form_element {
        height: 100%;
        &:not(:last-child) {
            position: relative;
            &::after {
                position: absolute;
                right: 0;
                content: "";
                width: 1px;
                height: 32px;
                top: 50%;
                transform: translateY(-50%);
                background-color: var(--gray-200);
            }
        }
    }
    .search_bar {
        border-radius: 999px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow:
            0px 10px 10px -5px rgba(0, 0, 0, 0.04),
            0px 20px 25px -5px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(32px);
        .form_wrap {
            display: flex;
            align-items: center;
        }
        .select {
            margin: 20px;
            padding-left: 33px;
        }
        .date_item {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 20px 24px;
            svg {
                margin-bottom: 7px;
            }
            span {
                font-size: 14px;
                font-weight: 400;
                color: var(--gray-500);
            }
            input {
                font-size: 18px;
                font-weight: 600;
                display: block;
                border: unset;
                background-color: transparent;
                // height: 48px;
                padding-left: 0;
                // margin-bottom: -26px;
                // padding-bottom: 35px;
                &::placeholder {
                    color: black;
                }
            }
        }
        .search_item {
            border-radius: 999px;
        }
    }
    .item1 {
        flex: 1.5 1;
    }
    .item2 {
        flex: 1 1;
    }
    .item3 {
        flex: 1 1;
    }
    .form_item {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    > * {
        position: relative;
        z-index: 2;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        aspect-ratio: 1/1;
        width: 24rem;
        border-radius: 376.037px;
        opacity: 0.5;
        background: rgba(225, 29, 72, 0.2);
        filter: blur(57px);
    }
    &::before {
        content: "";
        position: absolute;
        top: 300px;
        left: 300px;
        z-index: 0;
        aspect-ratio: 1/1;
        width: 24rem;
        border-radius: 376.037px;
        opacity: 0.5;
        background: rgba(4, 120, 87, 0.2);
        filter: blur(57px);
    }
}
.quantity_item {
    text-align: left;
    border-radius: 999px;
    position: relative;
    h3 {
        font-size: 18px;
        font-weight: 600;
    }
    span {
        font-size: 14px;
        font-weight: 400;
        color: var(--gray-400);
    }
    .search_btn {
        background-color: var(--indigo-600);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: 16px;
        svg {
            width: 24px;
        }
    }
    .quantity {
        width: 100%;
        .btn {
            display: flex;
            cursor: pointer;
            svg {
                width: 28px;
                color: var(--gray-400);
            }
        }
        .dropdown {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: calc(100% + 20px);
            right: 0;
            width: 340px;
            background-color: white;
            transition: 0.25s;
            padding: 24px 32px;
            border-radius: 1.5rem;
            z-index: 999;
            box-shadow:
                0px 10px 10px -5px rgba(0, 0, 0, 0.04),
                0px 20px 25px -5px rgba(0, 0, 0, 0.1);
            .item {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            h4 {
                font-size: 16px;
                font-weight: 500;
                color: var(--gray-800);
            }
            span {
                font-size: 12px;
                font-weight: 400;
                color: var(--gray-500);
            }
        }

        .qua {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            button {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                border: 1px solid var(--gray-400);
            }
            input {
                width: 20px;
                padding: 0;
                text-align: center;
                border: unset;
                background-color: transparent;
            }
        }
        .item {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
        &.active {
            .dropdown {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &.active {
        box-shadow:
            0 4px 16px rgba(17, 17, 26, 0.05),
            0 8px 32px rgba(17, 17, 26, 0.05);
    }
}
.search_item {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 9999px;
    text-align: left;
    .btn {
        padding: 23px 25px;
    }
    span {
        font-size: 14px;
        font-weight: 400;
        display: block;
        color: var(--gray-400);
    }
    input {
        font-size: 18px;
        font-weight: 600;
        background-color: transparent;
        border: unset;
        padding: 0;
        &::placeholder {
            color: currentColor;
        }
    }
    .dropdown {
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        background-color: white;
        z-index: 10;
        padding: 16px 0;
        width: 100%;
        transition: 0.25s;
        visibility: hidden;
        opacity: 0;
        box-shadow:
            0px 10px 10px -5px rgba(0, 0, 0, 0.04),
            0px 20px 25px -5px rgba(0, 0, 0, 0.1);
        border-radius: 1.5rem;
        h3 {
            padding: 0 32px;
            margin-bottom: 8px;
            font-weight: 600;
        }
        ul {
            li {
                > span {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    padding: 16px 32px;

                    &:hover {
                        background-color: var(--gray-100);
                    }
                }
                span {
                    color: var(--gray-600);
                }
            }
        }
        svg {
            width: 24px;
            height: auto;
        }
    }
    &.active {
        box-shadow:
            0 4px 16px rgba(17, 17, 26, 0.05),
            0 8px 32px rgba(17, 17, 26, 0.05);
        input {
            &::placeholder {
                color: var(--gray-300);
            }
        }
        .dropdown {
            opacity: 1;
            visibility: visible;
        }
    }
}
.tabs_container .tab_content {
    display: none;
    &.active {
        display: block;
    }
}
@media (min-width: 991px) {
    .hero {
        .form_item {
            height: 92px;
        }
    }
    .date_item {
        position: relative;
        input {
            padding: 0;
        }
        #datepicker-datePicker {
            position: absolute;
            left: 50%;
            top: calc(100% + 20px);
            transform: translateX(-50%);
            border-radius: 24px;
        }
    }
}
@media (max-width: 991px) {
    .hero {
        padding-top: 32px;
        overflow: hidden;
        .content {
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 56px;
            h1 {
                font-size: var(--text-4xl);
            }
            p {
                font-size: 16px;
                margin-top: 32px;
            }
            .features_text {
                > div {
                    font-size: 14px;
                }
                svg {
                    width: 18px;
                    height: auto;
                }
            }
        }
        .col {
            width: 100%;
        }
        .tabs {
            display: none;
        }
    }
}

.section_slider {
    margin: 100px 0;
    .slider {
        overflow: hidden;
    }
}

.FeaturePlaces {
    overflow: hidden;
    margin: 60px 0;
    .wrapper {
        background-color: var(--gray-100);
        margin: 0 -160px;
        padding: 80px 160px;
        border-radius: 50px;
        > .bottom {
            margin: 0 auto;
            margin-top: 64px;
        }
    }
    .sec_title {
        width: 100%;
    }
    .tabs_wrapper {
        width: 100%;
    }
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 40px;
        > .btn {
            background-color: white;
            color: var(--gray-600);
        }
    }
    .tabs {
        display: flex;
        align-items: center;
        li {
            padding: 12px 24px;
            border-radius: 99px;
            cursor: pointer;
            &.active {
                background-color: #115e59;
                color: white;
            }
        }
    }
    .listItems {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        width: 100%;
    }
    &.listings {
        .wrapper {
            background-color: transparent;
            padding: 0;
            margin: 20px 0;
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 12px;
            .tag {
                position: relative;
                .dropdown {
                    position: absolute;
                    top: calc(100% + 12px);
                    left: 0;
                    z-index: 10;
                    width: 100vw;
                    max-width: 350px;
                    background-color: white;
                    border-radius: 16px;
                    overflow: hidden;
                    opacity: 0;
                    transition: 0.15s;
                    visibility: hidden;
                    transform: translateY(-10px);
                    border: 1px solid var(--gray-300);

                    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
                    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
                    box-shadow:
                        0 0 rgba(0, 0, 0, 0),
                        0 0 rgba(0, 0, 0, 0),
                        var(--tw-shadow);
                    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),
                        var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);

                    .items {
                        padding: 16px 20px;
                    }
                    .checkbox {
                        gap: 16px;
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                    }
                    h4 {
                        font-weight: 500;
                    }
                }
                .bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px;
                    background-color: var(--gray-50);
                    .clear_btn {
                        border: 1px solid var(--gray-300);
                    }
                }
                .btn {
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    padding: 10px 17px;
                    border-radius: 999px;
                    border: 1px solid #d1d5db;
                    cursor: pointer;
                }
                &.typeOfPlace {
                    .dropdown {
                        max-width: 450px;
                    }
                }
                &.active {
                    .dropdown {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
                &.purple {
                    > .btn {
                        color: var(--indigo-600);
                        background-color: var(--indigo-50);
                        border-color: transparent;
                        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
                        border-color: var(--indigo-600);
                        &:hover {
                            background-color: var(--indigo-100);
                        }
                    }
                }
                &.mobile {
                    display: none;
                }
                .quantitySlider {
                    padding: 20px;
                    h4 {
                        margin-bottom: 16px;
                    }
                    .price-input {
                        width: 100%;
                        display: flex;
                        gap: 16px;
                        padding: 30px 0 0;
                    }
                    .price-input .field {
                        width: 100%;
                        position: relative;
                        &::before {
                            content: "$";
                            position: absolute;
                            left: 14px;
                            bottom: 12px;
                            font-size: 14px;
                            line-height: 1;
                        }
                    }
                    span {
                        display: block;
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                    .field input {
                        width: 100%;
                        height: 38px;
                        font-size: 14px;
                        border-radius: 99px;
                        padding-left: 28px;
                        border: 1px solid var(--gray-300);
                        background-color: transparent;
                    }
                    input[type="number"]::-webkit-outer-spin-button,
                    input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                    .price-input .separator {
                        width: 130px;
                        display: flex;
                        font-size: 19px;
                        align-items: center;
                        justify-content: center;
                    }
                    .slider {
                        height: 5px;
                        position: relative;
                        background: #ddd;
                        border-radius: 5px;
                    }
                    .slider .progress {
                        height: 100%;
                        left: 25%;
                        right: 25%;
                        position: absolute;
                        border-radius: 5px;
                        background: var(--indigo-600);
                    }
                    .range-input {
                        position: relative;
                        display: flex;
                        align-items: center;
                    }
                    .range-input input {
                        position: absolute;
                        width: 100%;
                        height: 5px;
                        top: -5px;
                        background: none;
                        pointer-events: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }
                    input[type="range"]::-webkit-slider-thumb {
                        height: 14px;
                        width: 14px;
                        border-radius: 50%;
                        // background: var(--indigo-600);
                        pointer-events: auto;
                        border: 2px solid var(--indigo-600);
                        background-color: white;
                        appearance: none;
                        opacity: 0.8;
                        cursor: pointer;
                        // box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                    }
                    // input[type="range"]::-moz-range-thumb {
                    //     height: 17px;
                    //     width: 17px;
                    //     border: none;
                    //     border-radius: 50%;
                    //     background: var(--indigo-600);
                    //     pointer-events: auto;
                    //     -moz-appearance: none;
                    //     box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                    // }

                    /* Support */
                    .support-box {
                        top: 2rem;
                        position: relative;
                        bottom: 0;
                        text-align: center;
                        display: block;
                    }
                    .b-btn {
                        color: white;
                        text-decoration: none;
                        font-weight: bold;
                    }
                    .b-btn.paypal i {
                        color: blue;
                    }
                    .b-btn:hover {
                        text-decoration: none;
                        font-weight: bold;
                    }
                    .b-btn i {
                        font-size: 20px;
                        color: yellow;
                        margin-top: 2rem;
                    }
                }
            }
            .range {
                text-align: left;
                border-radius: 999px;
                position: relative;
                .items {
                    padding: 20px;
                }
                h3 {
                    font-size: 18px;
                    font-weight: 600;
                }
                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--gray-400);
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    h4 {
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--gray-800);
                    }
                    span {
                        font-size: 12px;
                        font-weight: 400;
                        color: var(--gray-500);
                    }
                }

                .qua {
                    display: inline-flex;
                    align-items: center;
                    gap: 12px;
                    button {
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        border: 1px solid var(--gray-400);
                    }
                    input {
                        width: 20px;
                        padding: 0;
                        text-align: center;
                        border: unset;
                        background-color: transparent;
                    }
                }
                .item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:not(:last-child) {
                        margin-bottom: 1.5rem;
                    }
                }
                &.active {
                    box-shadow:
                        0 4px 16px rgba(17, 17, 26, 0.05),
                        0 8px 32px rgba(17, 17, 26, 0.05);
                }
            }
        }
        .listingCart {
            border: 1px solid var(--gray-100);
        }
    }
}
.moreFilerPopup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px 16px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.452);
    transition: 0.15s;
    opacity: 0;
    visibility: hidden;
    .inner {
        background-color: white;
        border-radius: 16px;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        transition: 0.15s;
        overflow: hidden;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        transform: scale(0.7);
    }
    .scroll {
        overflow-y: auto;
        flex-grow: 1;
    }
    &.active {
        opacity: 1;
        visibility: visible;
        .inner {
            transform: scale(1);
        }
    }
    .top {
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px 0;
        border-bottom: 1px solid var(--gray-200);
        h3 {
            font-weight: 500;
        }
    }
    .closeBtn {
        position: absolute;
        left: 15px;
        z-index: 2;
        cursor: pointer;
    }
    .content {
        padding: 20px;

        &:not(:last-child) {
            border-bottom: 1px solid var(--gray-200);
        }
        .wrapper {
            border-bottom: 1px solid var(--gray-200);
            &:first-child {
                padding-bottom: 20px;
            }
            &:not(:first-child) {
                padding: 20px 0;
            }
        }
        h4 {
            font-size: 22px;
            font-weight: 600;
            width: 100%;
            margin-bottom: 12px;
        }
        .checkboxes {
            width: 100%;

            > div {
                width: 50%;
            }
        }
        .checkbox {
            padding: 10px 0;
        }
    }
    .range {
        width: 100%;

        h3 {
            font-size: 18px;
            font-weight: 600;
        }
        span {
            font-size: 14px;
            font-weight: 400;
            color: var(--gray-400);
        }
        .text {
            display: flex;
            flex-direction: column;
            h4 {
                font-size: 16px;
                font-weight: 500;
                color: var(--gray-800);
            }
            span {
                font-size: 12px;
                font-weight: 400;
                color: var(--gray-500);
            }
        }

        .qua {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            button {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                border: 1px solid var(--gray-400);
            }
            input {
                width: 20px;
                padding: 0;
                text-align: center;
                border: unset;
                background-color: transparent;
            }
        }
        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
        &.active {
            box-shadow:
                0 4px 16px rgba(17, 17, 26, 0.05),
                0 8px 32px rgba(17, 17, 26, 0.05);
        }
    }
    .quantitySlider {
        margin-top: 24px;
        width: 100%;
        h4 {
            margin-bottom: 16px;
        }
        .price-input {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 16px;
            padding: 30px 0 0;
        }
        .price-input .field {
            width: 100%;
            max-width: 218px;
            position: relative;
            &::before {
                content: "$";
                position: absolute;
                left: 14px;
                bottom: 12px;
                font-size: 14px;
                line-height: 1;
            }
        }
        span {
            display: block;
            font-size: 14px;
            margin-bottom: 8px;
        }
        .field input {
            width: 100%;
            height: 38px;
            font-size: 14px;
            border-radius: 99px;
            padding-left: 28px;
            border: 1px solid var(--gray-300);
            background-color: transparent;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        .price-input .separator {
            width: 130px;
            display: flex;
            font-size: 19px;
            align-items: center;
            justify-content: center;
        }
        .slider {
            height: 5px;
            position: relative;
            background: #ddd;
            border-radius: 5px;
        }
        .slider .progress {
            height: 100%;
            left: 25%;
            right: 25%;
            position: absolute;
            border-radius: 5px;
            background: var(--indigo-600);
        }
        .range-input {
            position: relative;
            display: flex;
            align-items: center;
        }
        .range-input input {
            position: absolute;
            width: 100%;
            height: 5px;
            top: -5px;
            background: none;
            pointer-events: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        input[type="range"]::-webkit-slider-thumb {
            height: 14px;
            width: 14px;
            border-radius: 50%;
            // background: var(--indigo-600);
            pointer-events: auto;
            border: 2px solid var(--indigo-600);
            background-color: white;
            appearance: none;
            opacity: 0.8;
            cursor: pointer;
            // box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
        }
        // input[type="range"]::-moz-range-thumb {
        //     height: 17px;
        //     width: 17px;
        //     border: none;
        //     border-radius: 50%;
        //     background: var(--indigo-600);
        //     pointer-events: auto;
        //     -moz-appearance: none;
        //     box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
        // }

        /* Support */
        .support-box {
            top: 2rem;
            position: relative;
            bottom: 0;
            text-align: center;
            display: block;
        }
        .b-btn {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        .b-btn.paypal i {
            color: blue;
        }
        .b-btn:hover {
            text-decoration: none;
            font-weight: bold;
        }
        .b-btn i {
            font-size: 20px;
            color: yellow;
            margin-top: 2rem;
        }
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: var(--gray-50);
        .clear_btn {
            border: 1px solid var(--gray-300);
        }
    }
}
@media (max-width: 1200px) {
    .FeaturePlaces {
        .head {
            .btn {
                display: none;
            }
        }
        .tabs {
            li {
                font-size: 14px;
                padding: 10px 20px;
            }
        }
        .listItems {
            grid-template-columns: 1fr;
        }
        &.listings {
            .tags {
                .tag {
                    &.mobile {
                        display: block;
                    }
                }
            }
        }
    }
}

.howItWork {
    overflow: hidden;
    margin: 100px 0;
    .sec_title {
        text-align: center;
    }
    .wrapper {
        position: relative;
        > img {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .list_items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        .item {
            text-align: center;
            .image {
                margin-bottom: 32px;
                img {
                    margin: 0 auto;
                    max-width: 199px;
                }
            }
            .details {
                max-width: 293px;
                margin: 0 auto;
                h3 {
                    margin-bottom: 20px;
                    font-weight: 600;
                }
                p {
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--gray-500);
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .howItWork {
        .list_items {
            grid-template-columns: 1fr;
            gap: 64px;
        }
    }
}
.discover_slider {
    overflow: hidden;
    text-align: center;
    margin: 100px 0;
    .wrapper {
        background-color: #fff7ed;
        padding: 90px 150px 45px;
        margin: 0 -150px;
        border-radius: 50px;
        justify-content: center;
    }
    .pagination {
        margin-top: 48px;
    }
}

.exploreNearby {
    margin: 100px 0;
    .sec_title {
        text-align: center;
    }
    .list_items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        li {
            padding: 1.5rem;
            display: flex;
            align-items: center;
            border-radius: 24px;
            border: 1px solid var(--gray-200);
            gap: 16px;
            transition: 0.1s;
            position: relative;
            &:hover {
                box-shadow:
                    0px 10px 10px -5px rgba(0, 0, 0, 0.04),
                    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
            }
            .image {
                width: 96px;
                img {
                    border-radius: 50%;
                }
            }
            h3 {
                font-size: 16px;
                font-weight: 600;
                color: var(--gray-800);
            }
            span {
                font-size: 0.875rem;
                line-height: 1.25rem;
                color: var(--gray-500);
            }
            .id {
                font-size: 14px;
                position: absolute;
                right: 10px;
                top: 10px;
                background-color: var(--gray-100);
                border-radius: 99px;
                padding: 2px 10px;
            }
        }
    }
}
@media (max-width: 991px) {
    .exploreNearby {
        .list_items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 768px) {
    .exploreNearby {
        .list_items {
            grid-template-columns: 1fr;
            li {
                padding: 12px;
            }
        }
    }
}

.sectionVideos {
    overflow: hidden;
    .wrapper {
        position: relative;
        padding: 24px 0;
        padding-right: 56px;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 66.666%;
            border-radius: 50px;
            background-color: #f3f5ff;
            z-index: -1;
        }
    }
    .mainVideo {
        width: 87%;
        padding-right: 30px;
        position: relative;
        .video {
            padding: 10px;
            border-radius: 50px;
            background-color: white;
        }
        iframe {
            border-radius: 50px;
            width: 100%;
            height: auto;
            display: block;
            aspect-ratio: 102/56;
        }
        .playBtn {
            // pointer-events: none;
        }
    }
    .list {
        width: 13%;
        img {
            border-radius: 24px;
            aspect-ratio: 16/12;
        }
        .item {
            position: relative;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 27px;
            }
        }
        .playBtn {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: white;
            color: var(--indigo-600);
        }
    }

    .playBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 991px) {
    .sectionVideos {
        .wrapper {
            padding: 0;
        }
        .mainVideo {
            width: 100%;
            padding-right: 0;
            .video {
                padding: 0;
                margin-bottom: 24px;
            }
            .playBtn {
                max-width: 40%;
                img {
                    width: 100%;
                }
            }
            iframe {
                border-radius: 24px;
            }
        }

        .list {
            width: 100%;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(4, 1fr);
            .item {
                margin-bottom: 0 !important;
            }
            img {
                border-radius: 12px;
            }
            .playBtn {
                width: 32px;
                height: 32px;
                svg {
                    width: 18px;
                    height: auto;
                }
            }
        }
    }
}

.clientSay {
    text-align: center;
    margin: 100px 0;
    .wrapper {
        background-color: var(--gray-50);
        padding: 90px 45px;
        border-radius: 50px;
        background-image: url(../images/clientsSay-image.png);
        background-position: center 88%;
        background-repeat: no-repeat;
        background-size: 65%;
        flex-direction: column;
        justify-content: center;
    }
    .image {
        margin: 0 auto;
        margin-bottom: 56px;
    }
    .sec_title {
        width: 100%;
    }
    .slider {
        width: 100%;
        max-width: 42rem;
        margin: 0 auto;
        padding-bottom: 100px;
        overflow: hidden;
        position: relative;
        p {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 32px;
        }
        h3 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 4px;
        }
        span {
            font-size: 18px;
            font-weight: 400;
            color: var(--gray-400);
        }
        .swiper-pagination {
            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: var(--gray-300);
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background-color: var(--gray-900);
            }
        }
    }
}

@media (min-width: 1500px) {
    .clientSay {
        .wrapper {
            margin: 0 -120px;
            padding: 90px 120px;
        }
    }
}
@media (max-width: 991px) {
    .clientSay {
        .wrapper {
            padding: 60px 20px;
            margin: 0 -16px;
            border-radius: 0;
        }
        .sec_title {
            h1 {
                font-size: 24px;
            }
        }
        .wrapper {
            background-image: unset;
        }
    }
}
