.listingGallery {
    padding: 14px 0 64px;
    .wrapper {
        gap: 8px;
        flex-wrap: nowrap;
    }
    .main_img,
    .nav_imgs {
        width: 50%;
        img {
            border-radius: 16px;
            object-fit: cover;
        }
    }
    .main_img {
        position: relative;
        img {
            aspect-ratio: 63/51;
        }
        .showAll {
            font-size: 14px;
            font-weight: 500;
            position: absolute;
            left: 20px;
            bottom: 20px;
            color: var(--gray-600);
            display: flex;
            align-items: center;
            gap: 12px;
            background-color: white;
            padding: 8px 12px;
            border-radius: 12px;
            cursor: pointer;
            svg {
                width: 20px;
                height: auto;
            }
        }
    }
    .nav_imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        img {
            aspect-ratio: 306/247;
        }
    }
}
@media (min-width: 1500px) {
    .listingGallery {
        margin: 0 -115px;
    }
}
@media (max-width: 991px) {
    .listingGallery {
        .wrapper {
            flex-wrap: wrap;
        }
        .main_img,
        .nav_imgs {
            width: 100%;
        }
    }
}

.listingDetailPage {
    .mainContent {
        display: flex;
        .main {
            width: 66.6666%;
            padding-right: 32px;
            .btn {
                border: 1px solid var(--gray-200);
                &:hover {
                    background-color: var(--gray-100);
                }
            }
        }
        .aside {
            width: 33.3333%;
            position: relative;
            z-index: 3;
        }
    }
    .listingSection {
        padding: 2rem;
        border: 1px solid var(--gray-200);
        border-radius: 1rem;
        margin-bottom: 40px;
        .features_items {
            display: flex;
            flex-wrap: wrap;
            gap: 24px 48px;
            div {
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
    .amenities {
        .features_items {
            gap: 24px 0;
            margin-bottom: 34px;
            div {
                width: 33.3333%;
            }
        }
    }
    .rating {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .roomRates {
        .list {
            li {
                padding: 16px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:nth-child(odd) {
                    background-color: var(--gray-100);
                }
            }
        }
        .datepicker {
            position: static;
            box-shadow: unset;
            .datepicker__month-day {
                position: relative;
                &::after {
                    content: attr(title);
                    font-size: 11px;
                    position: absolute;
                    left: 0;
                    bottom: 3px;
                    z-index: 1;
                    width: 100%;
                    text-align: center;
                    color: #000;
                }
                span {
                    display: block;
                    font-weight: 600;
                }
            }
        }
        input {
            display: none;
        }
        .datepicker__inner {
            padding: 0;
        }
    }
    .line {
        margin: 24px 0;
        width: 100%;
        max-width: 64px;
        height: 1px;
        display: block;
        background-color: var(--gray-200);
    }
    .profile {
        display: flex;
        align-items: center;
        gap: 10px;
        h4 {
            font-weight: 400;
            span {
                color: var(--gray-500);
            }
        }
    }
    .profileInfo {
        display: flex;
        flex-direction: column;
        margin: 24px 0;
        li {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 5px 0;
            color: var(--gray-600);
        }
    }
    .preview {
        .line {
            max-width: 100%;
        }
        > div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .top {
            justify-content: space-between;
            span {
                padding: 2px 10px;
                border-radius: 99px;
                font-size: 12px;
                font-weight: 500;
                color: var(--indigo-800);
                background-color: var(--indigo-100);
            }
            .btn {
                padding: 0;
                color: var(--gray-500);
                border: unset;
                &:hover {
                    color: black;
                }
            }
            .share_btn {
                margin-right: 24px;
            }
        }
        h1 {
            line-height: 1;
        }
        > * {
            &:not(:first-child) {
                margin-top: 24px;
            }
        }
        .line {
            max-width: 100%;
        }
    }
    .reviews {
        .search_bar {
            .form_wrap {
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 20px;
            }
            .search_btn {
                position: absolute;
                right: 12px;
                padding: 0;
                svg {
                    display: block;
                }
            }
            input {
                width: 100%;
                height: 66px;
                padding: 20px;
                border-radius: 16px;
                border: 1px solid var(--gray-200);
            }
        }
        .review_item {
            display: flex;
            gap: 16px;
            .img {
                width: 40px;
                flex-shrink: 0;
                img {
                    border-radius: 50%;
                }
            }
            > div {
                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                }
                .date {
                    color: var(--gray-500);
                }
                > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                p {
                    margin-top: 10px;
                }
            }
        }
        .line {
            max-width: 100%;
        }
    }
    .sticky {
        position: sticky;
        top: 110px;
        padding: 24px 32px;
        --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
        --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
        box-shadow:
            0 0 #0000,
            0 0 #0000,
            var(--tw-shadow);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;
        }
        .price {
            color: var(--gray-600);
            span {
                font-size: 1.875rem;
                line-height: 2.25rem;
                font-weight: 600;
                color: black;
            }
        }

        .info {
            margin: 32px 0;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 0;
                &.last {
                    border-top: 1px solid var(--gray-200);
                    padding-top: 16px;
                    margin-top: 8px;
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
        > .btn {
            width: 100%;
            padding: 12px 24px;
        }
        .quantity_item {
            border-radius: 0 0 22px 22px;
            .quantity {
                .btn {
                    padding: 0;
                    justify-content: flex-start;
                }
            }
            .dropdown {
                border: 1px solid var(--gray-200);
            }
        }
    }
    .googleMap {
        iframe {
            border-radius: 16px;
        }
    }
}
.datepicker {
    .datepicker__month-day {
        span {
            display: block;
            font-weight: 600;
        }
    }
}
.dateRange {
    border: 1px solid var(--gray-200);
    border-radius: 24px;
    .range {
        display: flex;
        align-items: center;
        gap: 13px;
        padding: 12px;
        cursor: pointer;
        position: relative;

        > div {
            flex-grow: 1;
        }
        &:first-child {
            border-bottom: 1px solid var(--gray-200);
        }
        > span {
            display: block;
        }
        input {
            border: unset;
            padding: 0;
            background-color: transparent;
        }
        .datepicker {
            right: 0;
            top: calc(100% + 20px);
            z-index: 9999;
        }
    }
}
@media (min-width: 991px) {
    .listingDetailPage {
        .roomRates {
            .datepicker {
                width: 100%;
                .datepicker__month {
                    width: 47%;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .listingDetailPage {
        .listingSection {
            padding: 0;
            border: unset;
        }
        h1,
        h2 {
            font-size: 24px;
            font-weight: 600;
        }
        .mainContent {
            width: 100%;
            flex-wrap: wrap;
            .main {
                width: 100%;
                padding-right: 0;
            }
            .aside {
                width: 100%;
            }
        }
    }
}
