// // // Colors
:root {
    --gray-900: #111827;
    --gray-800: #1f2937;
    --gray-700: #374151;
    --gray-600: #4b5563;
    --gray-500: #6b7280;
    --gray-400: #9ca3af;
    --gray-300: #d1d5db;
    --gray-200: #e5e7eb;
    --gray-100: #f3f4f6;
    --gray-50: #f9fafb;
    // Red
    --red-700: #b91c1c;

    // Indigo
    --indigo-900: #312e81;
    --indigo-800: #3730a3;
    --indigo-700: #4338ca;
    --indigo-600: #4f46e5;
    --indigo-500: #6366f1;
    --indigo-400: #818cf8;
    --indigo-100: #e0e7ff;
    --indigo-50: #eef2ff;
}

.dark_theme {
    .mbsc-windows.mbsc-popup {
        background-color: #1f2937 !important;
        min-width: 500px;
    }
    body {
        background-color: #111827;
        color: white;
    }
    .site_header {
        color: white;
        box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.1);
        .bg {
            background-color: #111827;
        }
        .action_item {
            svg {
                color: white;
            }
        }

        .search_bar {
            border: 1px solid var(--gray-700);
        }
    }
    .site_header .searchForm .tab-menu li.active {
        color: white;
    }
    .site_header .searchForm .tab-menu li {
        color: var(--gray-400);
    }
    .site_logo #text {
        fill: white !important;
    }
    .hero .tabs_wrapper .tabs li::before {
        background-color: white;
    }
    .hero {
        .search_bar {
            background-color: #1118278f;
            color: white;
        }
    }
    .hero .search_bar .select .mbsc-ios.mbsc-label-stacked.mbsc-ltr {
        color: white;
    }
    .hero .mbsc-ios.mbsc-select.mbsc-ltr,
    .hero .search_bar .date_item input {
        color: white;
        &::placeholder {
            color: white;
        }
    }
    .FeaturePlaces .wrapper {
        background-color: rgb(0 0 0 / 20%);
    }
    .FeaturePlaces .head > .btn {
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }
    .FeaturePlaces.listings .tags .tag {
        .dropdown {
            background-color: var(--gray-900);
            color: white;
        }
        .bottom {
            background-color: var(--gray-900);
            .btn {
                color: white;
                border-color: var(--gray-700);
            }
        }
    }
    .FeaturePlaces.listings .tags .tag .popup .inner {
        background-color: var(--gray-900);
        color: white;
    }
    .FeaturePlaces.listings .tags .range .text h4 {
        color: white;
    }
    .FeaturePlaces.listings .tags .range .qua button {
        color: white;
    }
    .FeaturePlaces.listings .tags .range .qua input {
        color: white;
    }
    .FeaturePlaces.listings .tags .tag .dropdown {
        border-color: var(--gray-700);
    }
    .listingCart {
        background-color: rgba(17, 24, 39, 0.5607843137);
        border-color: var(--gray-800);
    }
    .listingCart .image .arrow {
        background-color: rgba(17, 24, 39, 0.5607843137);
    }
    .discover_slider .wrapper {
        background-color: rgba(0, 0, 0, 0.2) !important;
    }
    .pagination .arrow {
        background-color: rgba(0, 0, 0, 0.2);
    }
    // .quantity_item .quantity .dropdown {
    //     background-color: ;
    // }
    .site_header .searchForm .wrapper {
        background-color: #1f2937;
        border-color: transparent;
        border-color: var(--gray-700);
    }
    .site_header .date_item input {
        &::placeholder {
            color: white;
        }
    }
    .quantity_item .quantity .dropdown {
        background-color: #1f2937;
        color: white;
        h4 {
            color: white;
        }
    }
    .quantity_item .quantity .qua input {
        color: white;
    }
    .quantity_item .quantity .qua button {
        color: white;
    }
    .blog_hero .blog_items .item,
    .exploreNearby .list_items li .id {
        background-color: #1f2937;
    }
    .site_footer {
        border-color: var(--gray-700);
    }
    .site_footer .menu ul a {
        color: white;
        opacity: 0.6;
    }
    .site_footer .socialMedia svg {
        path {
            fill: white;
        }
    }
    .exploreNearby .list_items li h3 {
        color: white;
    }
    .exploreNearby .list_items li {
        border-color: var(--gray-700);
        &:hover {
            background-color: var(--gray-800);
        }
    }
    .search_item input {
        color: white;
    }
    .blogs_list .block {
        background-color: #1f2937;
    }
    .hero .tabs_wrapper .tabs li.active {
        color: var(--gray-50);
    }
    .blogs_list .pagination ul span {
        color: white;
    }
    .search_item .dropdown {
        background-color: #1f2937;
    }
    .search_item .dropdown ul li span {
        color: var(--gray-300);
        &:hover {
            background-color: var(--gray-600);
        }
    }
    .addListing .wrap {
        border-color: var(--gray-700);
    }
    .addListing .stepCount span {
        color: var(--gray-100);
    }
    .addListing .listingCart {
        border-color: var(--gray-700);
    }
    .addListing .btn.primary:hover {
        background-color: var(--gray-800);
    }
    .addListing .form_wrap .form_element label {
        color: white;
    }
    .addListing .form_wrap .form_element select {
        color: white;
        background-color: var(--gray-900);
    }
    .addListing .form_wrap .form_element .currentLocation {
        color: white;
    }
    .addListing .form_wrap .form_element input,
    .addListing .form_wrap .form_element textarea {
        background-color: transparent;
        color: white;
        border-color: var(--gray-700);
    }
    .addListing .form_wrap .form_element .quantity_wrap button {
        color: white;
    }
    .checkbox span {
        color: white;
    }
    .addListing .addTag input {
        background-color: transparent;
        color: white;
    }
    .datepicker {
        background-color: var(--gray-800);
        color: white;
        .datepicker__month-day {
            color: white;
        }
        .datepicker__month-day--invalid {
            opacity: 0.3;
        }
        .datepicker__info--help {
            color: white;
        }
    }
    .FeaturePlaces.listings .listingCart {
        border-color: var(--gray-700);
    }
    .checkOut .form_wrap label {
        color: white;
    }
    .checkOut .form_wrap input,
    .checkOut .form_wrap textarea {
        background-color: transparent;
        color: white;
        border-color: var(--gray-700);
        &::placeholder {
            color: white;
        }
    }
    .checkOut .dateRange .range:first-child,
    .checkOut .dateRange,
    .checkOut .mainContent .block,
    .checkOut .sticky,
    .checkOut .sticky .info li.last,
    .listingDetailPage .listingSection,
    .listingDetailPage .mainContent .main .btn {
        border-color: var(--gray-700);
    }
    .listingDetailPage .line {
        background-color: var(--gray-700);
    }
    .navMenu .inner {
        background-color: var(--gray-900);
    }
    .navMenu .menu a {
        &:hover {
            background-color: var(--gray-800);
        }
    }
    .navMenu .menu .nav_link::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' viewBox='0 0 24 24' fill='currentColor' aria-hidden='true' class='ml-2 h-4 w-4 text-neutral-500' style=' color: white;%0A'%3E%3Cpath fill-rule='evenodd' d='M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
    }
    .c-theme-switch {
        svg {
            color: white;
        }
    }
    .navMenu p {
        color: white;
    }
    .navMenu .socialMedia a {
        background-color: var(--gray-800);
        svg {
            path {
                fill: white;
            }
        }
    }
    .navMenu .top {
        border-color: var(--gray-700);
    }
    .listingDetailPage .roomRates .list li:nth-child(odd) {
        background-color: var(--gray-700);
    }
    .listingDetailPage .sticky .price span {
        color: var(--gray-300);
    }
    .listingDetailPage .mainContent .main .btn {
        color: white;
    }
    .stickyCagorySlider {
        background-color: var(--gray-800);
        .categortItem {
            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
                    brightness(103%) contrast(103%);
            }
        }
    }
    .stickyCagorySlider .arrow {
        background-color: var(--gray-500);
    }
    .stickyCagorySlider .categortItem::after {
        background-color: white;
    }
    .listingCart .save_btn {
        background-color: var(--gray-700);
        &:hover {
            background-color: var(--gray-600);
        }
    }
    .sectionVideos .mainVideo .video {
        background-color: var(--gray-900);
    }
    .sectionVideos .wrapper::after {
        background-color: var(--gray-800);
    }
    .clientSay .wrapper {
        background-color: rgb(14, 19, 31);
    }
    .FeaturePlaces.listings .tags .tag .popup .top {
        border-color: var(--gray-700);
    }
    .FeaturePlaces.listings .tags .tag .btn {
        border-color: var(--gray-700);
    }
    .checkbox input {
        border-color: var(--gray-700) !important;
    }
    .moreFilerPopup .inner {
        background-color: var(--gray-900);
    }
    .moreFilerPopup .bottom {
        background-color: var(--gray-900);
    }
    .moreFilerPopup .top {
        border-color: var(--gray-700);
    }
    .FeaturePlaces.listings .tags .tag .quantitySlider .field input {
        color: white;
        border-color: var(--gray-700);
    }
    .site_header .action_list .list_property {
        border-color: var(--gray-700);
    }
}

.light_theme {
    .mbsc-windows.mbsc-popup {
        background-color: white !important;
        min-width: 500px;
    }
    body {
        background-color: white;
    }
}
