// // // Colors
:root {
    --gray-900: #111827;
    --gray-800: #1f2937;
    --gray-700: #374151;
    --gray-600: #4b5563;
    --gray-500: #6b7280;
    --gray-400: #9ca3af;
    --gray-300: #d1d5db;
    --gray-200: #e5e7eb;
    --gray-100: #f3f4f6;
    --gray-50: #f9fafb;
    // Red
    --red-700: #b91c1c;

    // Indigo
    --indigo-900: #312e81;
    --indigo-800: #3730a3;
    --indigo-700: #4338ca;
    --indigo-600: #4f46e5;
    --indigo-500: #6366f1;
    --indigo-400: #818cf8;
    --indigo-100: #E0E7FF;
    --indigo-50: #EEF2FF;
}

.dark_theme {
    .mbsc-windows.mbsc-popup {
        background-color: #1f2937 !important;
        min-width: 500px;
    }
    body {
        background-color: #111827;
        color: white;
    }
    .site_header {
        color: white;
        .bg {
            background-color: #111827;
        }
        .action_item {
            svg {
                color: white;
            }
        }
        .site_logo #text {
            fill: white;
        }
        .search_bar {
            border: 1px solid var(--gray-500);
        }
    }
    .hero .tabs_wrapper .tabs li::before {
        background-color: white;
    }
    .hero {
        .search_bar {
            background-color: #1118278f;
            color: white;
        }
    }
    .hero .search_bar .select .mbsc-ios.mbsc-label-stacked.mbsc-ltr {
        color: white;
    }
    .hero .mbsc-ios.mbsc-select.mbsc-ltr,
    .hero .search_bar .date_item input {
        color: white;
        &::placeholder {
            color: white;
        }
    }
    .FeaturePlaces .wrapper {
        background-color: rgb(0 0 0 / 20%);
    }
    .FeaturePlaces .head .btn {
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }
    .listingCart {
        background-color: rgba(17, 24, 39, 0.5607843137);
    }
    .listingCart .image .arrow {
        background-color: rgba(17, 24, 39, 0.5607843137);
    }
    .discover_slider .wrapper {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .pagination .arrow {
        background-color: rgba(0, 0, 0, 0.2);
    }
    // .quantity_item .quantity .dropdown {
    //     background-color: ;
    // }
    .site_header .searchForm .wrapper {
        background-color: #1F2937;
        border-color: transparent;
    }
    .site_header .date_item input {
        &::placeholder {
            color: white;
        }
    }
    .quantity_item .quantity .dropdown {
        background-color: #1F2937;
        color: white;
        h4 {
            color: white;
        }
    }
    .quantity_item .quantity .qua input {
        color: white;
    }
    .quantity_item .quantity .qua button {
        color: white;
    }
    .blog_hero .blog_items .item,
    .exploreNearby .list_items li .id {
        background-color: #1F2937;
    }
    .site_footer .menu ul a {
        color: white;
        opacity: .6;
    }
    .site_footer .socialMedia svg {
        path {
            fill: white;
        }
    }
    .exploreNearby .list_items li h3 {
        color: white;
    }
}

.light_theme {
    .mbsc-windows.mbsc-popup {
        background-color: white !important;
        min-width: 500px;
    }
    body {
        background-color: white;
    }
}
